body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  #main_container {
    height: 90%;
    width: 99vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #body_container {
    width: 98.5vw;
    height: 78vh;
    display: flex;
    flex-direction: row;
  }
  #body_container_side {
    height: 100%;
    width: 4vw;
    background-image: linear-gradient(to bottom, white, #dee1e3);
    display: flex;
    flex-direction: column;
  }
  .side_div {
    width: 4vw;
    height: 9.75vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .side_button {
    background-color: transparent;
    border: none;
  }
  .side_button i {
    font-size: 14px;
  }

  #body_container_main {
    height: 100%;
    width: 94.5vw;
    display: flex;
    flex-direction: column;
  }
  #body_container_main_top {
    width: 100%;
    height: 50%;
    background-color: #535557;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  #body_main_top_image {
    width: 17vw;
    height: 27vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #top_image_grad {
    width: 17vw;
    height: 27vh;
    background-image: repeating-linear-gradient(45deg, #eb9f73, #b08f35, #49a7e6, #a5f0ba, #e2bbed, #6c87eb);
    display: flex;
    flex-direction: column;
  }
  #top_image_grad1 {
    margin: 0;
    text-align: center;
    font-size: 25px;
    font-weight: 900;
    font-family: sans-serif;
  }
  #top_image_grad2 {
    margin: 0;
    text-align: center;
    color: red;
    margin-top: 10px;
    font-size: 25px;
    font-weight: 900;
    font-family: sans-serif;
  }
  #top_image_grad3 {
    margin: 0;
    text-align: center;
    margin: 3px;
    font-family: sans-serif;
  }
  #top_image_grad4 {
    margin: 0;
    text-align: center;
    margin-top: 18px;
    font-size: 18px;
    font-weight: 900;
    font-family: sans-serif;
  }

  #body_main_top_detail {
    width: 70vw;
    height: 27vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #top_detail_desc {
    width: 65vw;
    height: 60%;
  }
  #top_detail_desc1 {
    margin: 5px 0px 10px;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    color: white;
  }
  #top_detail_desc2 {
    margin: 0px;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    color: white;
    
  }
  #top_detail_desc3 {
    margin: 0px;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    color: white;
    
  }
  #top_detail_icon {
    width: 65vw;
    height: 40%;
    display: flex;
    flex-direction: row;
    align-items: end;
  }
  .top_detail_icon_div {
    width: 5vw;
    height: 9.75vh;
    display: flex;
    align-items: end;
  }
  .top_detail_button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
  }

  #body_container_main_bottom {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #body_container_div {
    width: 99%;
    height: 96%;
  }
  table {
    margin-top: 5px;
    border-collapse: collapse;
    font-family: sans-serif;
    font-size: 14px;
  }
  table tr {
    height: 7.5vh;
    width: 80vw;
  }
  .tr_gray {
    background-color: #dee1e3;
  }
  .td1 {
    width: 2vw;
    text-align: right;
  }
  .td2 {
    width: 23vw;
  }
  .body_button {
    background-color: transparent;
    font-family: sans-serif;
    font-size: 11px;
    /* padding: 0; */
    border: 1px solid black;
  }
  
  #footer {
    width: 98.5vw;
    height: 10vh;
    background-color: #0f4a96;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  #footer_music {
    width: 60%;
    height: 8vh;
    display: flex;
    flex-direction: row;
  }
  #footer_music_image_grad {
    width: 8%;
    height: 100%;
    background-image: repeating-linear-gradient(45deg, #eb9f73, #b08f35, #49a7e6, #a5f0ba, #e2bbed, #6c87eb);
    display: flex;
    flex-direction: column;
  }
  #footer_image_grad1 {
    margin: 0;
    text-align: center;
    font-size: 9px;
    font-weight: 900;
    font-family: sans-serif;
  }
  #footer_image_grad2 {
    margin: 0;
    text-align: center;
    color: red;
    margin-top: 3px;
    font-size: 9px;
    font-weight: 900;
    font-family: sans-serif;
  }
  #footer_image_grad3 {
    margin: 0;
    text-align: center;
    font-size: 5px;
    margin: 2px;
    font-family: sans-serif;
  }
  #footer_image_grad4 {
    margin: 0;
    text-align: center;
    margin-top: 0px;
    font-size: 6px;
    font-weight: 900;
    font-family: sans-serif;
  }
  #footer_music_detail {
    width: 92%;
    height: 100%;
    margin-left: 10px;
  }

  #footer_detail_desc1 {
    height: 50%;
    font-size: 13px;
    margin: 5px 0px 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    color: white;

  }
  #footer_detail_desc2 {
    height: 50%;
    font-size: 13px;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    color: white;
  }
  #footer_controls {
    width: 38%;
    height: 8vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .footer_button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;

  }